[submodule "themes/tao-wiki-bootstrap-next"]
	path = themes/tao-wiki-bootstrap-next
	url = https://github.com/VictorStepanov/tao-wiki-bootstrap-next
[submodule "plugins/pelican-plugins"]
	path = plugins/pelican-plugins
	url = https://github.com/VictorStepanov/tao-wiki-pelican-plugins
	branch = tao
