blinker==1.4
docutils==0.16
feedgenerator==1.9.1
gitdb==4.0.5
GitPython==3.1.7
importlib-metadata==1.6.0
Jinja2==2.11.2
lizard==1.17.4
Markdown==3.2.2
MarkupSafe==1.1.1
pelican==4.5.0
PyDriller==1.15.2
Pygments==2.6.1
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
six==1.15.0
smmap==3.0.4
Unidecode==1.1.1
zipp==3.1.0
